@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Tiny5&display=swap');

* {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    user-select: none;
}

a,
a:visited {
    text-decoration: none;
    color: black;  
}

body {
    background-image: url('img/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.calculator-body {
    height: 628px;
    width: 464px;
    background-color: #3a5e38;
    border-radius: 16px;
    box-shadow: 4px 4px 0 2px #294d27;

    margin: 0;
    padding: 24px;
    padding-bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border: 1px solid #22222288;
}

.results-screen {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 8px;

    width: 95%;
    height: 96px;
    background-color: #7c99a0;
    border-radius: 16px;
    box-shadow: 2px 2px 8px 2px inset #3a5e38aa;
}

.results-screen-typing {
    align-self: flex-end;
    font-size: 24px;
    color: #056100;
    min-height: 28px;
}

.results-screen-result {
    align-self: flex-end;
    font-size: 32px;
    margin-top: 16px;
}

.button-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 28px;
}

.calculator-button {
    height: 86px;
    width: 86px;
    background-color: #808080;
    box-shadow: 2px 2px 0 2px #707070;
}

.calculator-equals {
    height: 86px;
    width: 200px;
    background-color: #4b6f87;
    box-shadow: 2px 2px 0 2px #3a5e76;
}

.calculator-button,
.calculator-equals {
    border-radius: 16px;
    text-align: center;
    font-size: 36px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.calculator-button:hover {
    background-color: #707070aa;
    box-shadow: 2px 2px 0 2px #606060aa;
}

.calculator-equals:hover {
    background-color:  #3f497c;
    box-shadow: 2px 2px 0 2px #2e386b; 
}

.operations-button:hover {
    background-color:  #3f7c43;
    box-shadow: 2px 2px 0 2px #2e6b32;
}

.delete-button:hover {
    background-color:  #7c3f3f;
    box-shadow: 2px 2px 0 2px #6b2e2e; 
}

.calculator-button:active,
.calculator-equals:active {
    box-shadow: 2px 2px 0 2px inset #888888aa;
}


/* let's just hide this at the bottom */
.cringe {
    font-size: 36px;
    display: flex;
    gap: 8px;
    align-items: center;
    color: white;
}